

.countdown{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .countdown > div{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.25);
    width: 80px;
    height: 80px;
    border-radius: 5px;
  }
  .number {
    font-weight: 500;
    font-size: 37px;
    color: #ffb47a;
  }
  
  .months.day.hour.minute.second{
    font-size: 12px;
  }
  
  
  @media screen and (max-width:600px){
    h1{
      font-size: 40px;
    }
    
    .countdown{
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin-top: 30px;
    }
    .countdown > div{
      background-color: #fff;
      width: 250px;
      height: 60px;
      margin: 0;
      flex-direction: row;
      justify-content: space-between;
      padding: 20px;
    }
    div span:last-of-type{
    font-size: 24px;
      text-transform: uppercase;
  }
    .number {
    font-size: 34px;
  }
  }
  
  
  mark.sale {
  background:#c00; /* fallback for non-webkit browsers */
  display:block; /* or it wont work */
  width:50px;
  text-align:center;
  line-height:3em;
  border-radius:3em;
  color:#fff;
  font-weight:bold;
  }
  
  
  